attrs==22.1.0
colorama==0.4.6
exceptiongroup==1.0.4
greenlet==2.0.1
iniconfig==1.1.1
mypy==0.991
mypy-extensions==0.4.3
packaging==21.3
pluggy==1.0.0
psycopg2==2.9.5
pyparsing==3.0.9
pytest==7.2.0
SQLAlchemy==1.4.44
sqlalchemy-stubs==0.4
tomli==2.0.1
typing_extensions==4.4.0
